*{
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Multiple Nessesary CSS */

span{
    color: orange;
}
.title{
    font-size: 50px;
    font-weight:bold;
}
.btn-primary{
    background-color: #F15B22;
    border:none;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 20px 0px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.btn-Secondary{
    background-color: #fff;
    border:none;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 20px 0px;
    color: orangered;
    font-size: 20px;
    font-weight: 500;
}


/* Header Style */
.logo{
    font-size: 25px;
    font-weight: 700;
}
.header-container{
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    padding: 20px 20px;
}
.menu li:hover{
    background-color: orange;
}

/* Banner Style */

.banner-section{
    background-image: url(images/banner/banner1.png);
    text-align: right;
    padding: 150px 200px;
    background-repeat: no-repeat;
    
}


/* Failure Section Style  */
.failure-photo{
    background-image: url(images/icons/);
    padding-right: 200px;
}

.failure-container{
    display: flex;
    padding: 100px 100px;
    align-items: center;
    justify-content: space-around;
}

/* My Plan Section */
.my-plan{
    padding: 100px 200px;
}
.my-plan-headline{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.my-plan-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.item img{
    width: 50px;
}


/* Calling Section Style */

.call-section{
    background-image:linear-gradient( to left, 
        rgba(84, 5, 5, 0),
        rgb(247, 105, 105)), url(
'images/watch.png');
    height: 301px;
    width: 1140px;  
    background-repeat: no-repeat;
    border-radius: 10px;
    background-blend-mode: hard-light ;
    
}
.call-description
{
    padding-left: 30px;
    color: white;
    padding-top: 80px;
}


/* Next Year  */
.next-plan
{
    padding: 150px 200px;
}

.next-plan-des
{
    text-align: center;
}

/* Subscribe Section */
.subscribe{
    background-color: #000000;
    color: white;
    display: flex;
    padding: 200px 200px; 
    
    
}

input{
    padding: 18px 50px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
}
::placeholder{
    color: white;
}
.future-part{
    margin-right: 100px;
}
 
.social-icon img{
    padding-right: 10px;
}
.subscribe-part{
    margin-bottom: 100px;
}
/* Footer */

.footer{
    text-align: center;
    padding: 20px;
    color: #F15B22;
    font-weight: 700;
}

.footer a{
    text-decoration: none;
}